ErrorDocument 404 /html/404.html

RewriteEngine on
RewriteRule ^api/(.+)\.bin$ api.php?bin=1&p=$1 [L,qsa]
RewriteRule ^api/(.+)$ api.php?p=$1 [L,qsa]
RewriteRule ^download$ download.php [NC,L,qsa]
RewriteRule ^dashboard/(.+)$ dashboard.php?p=$1 [NC,qsa,L]
RewriteCond $1 !^(css|js|fonts|dashboard\.php|index\.html|api\.php|download\.php)
RewriteRule ^(.+)$ index.html [L]
