ErrorDocument 404 /html/404.html

RewriteEngine on
RewriteRule ^api/(.+)\.json$ api.php?p=$1
RewriteRule ^api/(.+)\.bin$ api.php?bin=1&p=$1
RewriteRule ^download$ download.php
RewriteCond $1 !^(css|js|fonts|index\.php|api\.php|download\.php)
RewriteRule ^(.+)$ index.php?p=$1
