ErrorDocument 404 html/404.html

RewriteEngine on
RewriteRule ^((?:ln|replacements|timetable)/[0-9]{4}-[0-9]{2}-[0-9]{2})$ get_file.php?p=$1
RewriteRule ^(ln|replacements|timetable)$ list.php?what=$1
RewriteRule ^$ cron_log.php
RewriteRule ^phpinfo$ phpinfo.php

RewriteRule \.(php|html)$ - [R=404]
